In [ ]:
import pandas as pd
import os
import xlrd

# avoids WARNING *** file size (499584) not 512 + multiple of sector size (512) error
wb = xlrd.open_workbook('./product.xls', logfile=open(os.devnull, 'w'))
s0 = pd.read_excel(wb, engine='xlrd', sheet_name=0)

In [ ]:
s0.columns

In [42]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import json
%matplotlib inline

In [4]:
# https://data.austintexas.gov/Public-Safety/EMS-Spring-Festival-Season-2018-Incident-Details/q99r-2je5
# https://data.austintexas.gov/resource/ddqt-6p93.json
# SXSW 2018 was 3/9 - 3/18
ems = pd.read_csv('./EMS_-_Spring_Festival_Season_2018_-_Incident_Details.csv')

In [6]:
ems.head()

,Incident Key,Event Date,Event Day of Week,Incident Time,Location Longitude,Location Latitude,Responding Units,Dispositions,Transport Priorities,Patient Transports,Patient Refusals,Other Patient Outcomes,Total Patients,Patients Transported to CCP,Patients Transported From CPP,Incident Location,Current
0,1,03/13/2018,Tuesday,03/13/2018 03:00:00 PM,-97.739335,30.267068,SRU3,No Patient,NaN,0,0,0,0,0,0,"(30.267068, -97.739335)",NaN
1,2,03/13/2018,Tuesday,03/13/2018 04:00:00 PM,-97.738247,30.266782,"CCP1, SRU1, SRU3",Refusal,NaN,0,0,0,0,1,0,"(30.266782, -97.738247)",NaN
2,3,03/13/2018,Tuesday,03/13/2018 04:00:00 PM,-97.739335,30.267068,"CCP2, MTRC5, SRU5",Refusal,NaN,0,2,0,2,1,0,"(30.267068, -97.739335)",NaN
3,4,03/13/2018,Tuesday,03/13/2018 04:00:00 PM,-97.738025,30.267401,"CHP02, MCOT01, SRU3",No Patient,NaN,0,0,0,0,0,0,"(30.267401, -97.738025)",NaN
4,7,03/13/2018,Tuesday,03/13/2018 05:00:00 PM,-97.739313,30.267062,SRU1,Refusal,NaN,0,0,0,0,0,0,"(30.267062, -97.739313)",NaN

In [7]:
ems['Event Date'] = pd.to_datetime(ems['Event Date'])

In [41]:
ems

,Incident Key,Event Date,Event Day of Week,Incident Time,Location Longitude,Location Latitude,Responding Units,Dispositions,Transport Priorities,Patient Transports,Patient Refusals,Other Patient Outcomes,Total Patients,Patients Transported to CCP,Patients Transported From CPP,Incident Location,Current,lat,lon
0,1,2018-03-13,Tuesday,03/13/2018 03:00:00 PM,-97.739335,30.267068,SRU3,No Patient,NaN,0,0,0,0,0,0,"(30.267068, -97.739335)",NaN,30.267068,-97.739335
1,2,2018-03-13,Tuesday,03/13/2018 04:00:00 PM,-97.738247,30.266782,"CCP1, SRU1, SRU3",Refusal,NaN,0,0,0,0,1,0,"(30.266782, -97.738247)",NaN,30.266782,-97.738247
2,3,2018-03-13,Tuesday,03/13/2018 04:00:00 PM,-97.739335,30.267068,"CCP2, MTRC5, SRU5",Refusal,NaN,0,2,0,2,1,0,"(30.267068, -97.739335)",NaN,30.267068,-97.739335
3,4,2018-03-13,Tuesday,03/13/2018 04:00:00 PM,-97.738025,30.267401,"CHP02, MCOT01, SRU3",No Patient,NaN,0,0,0,0,0,0,"(30.267401, -97.738025)",NaN,30.267401,-97.738025
4,7,2018-03-13,Tuesday,03/13/2018 05:00:00 PM,-97.739313,30.267062,SRU1,Refusal,NaN,0,0,0,0,0,0,"(30.267062, -97.739313)",NaN,30.267062,-97.739313
5,8,2018-03-13,Tuesday,03/13/2018 06:00:00 PM,-97.737484,30.265535,"CCP3, SRU1",Refusal,NaN,0,1,0,1,1,0,"(30.265535, -97.737484)",NaN,30.265535,-97.737484
6,9,2018-03-13,Tuesday,03/13/2018 06:00:00 PM,-97.743171,30.267119,CCP1,Refusal,NaN,0,1,0,1,0,0,"(30.267119, -97.743171)",NaN,30.267119,-97.743171
7,10,2018-03-13,Tuesday,03/13/2018 07:00:00 PM,-97.743171,30.267119,CCP2,Refusal,NaN,0,1,0,1,0,0,"(30.267119, -97.743171)",NaN,30.267119,-97.743171
8,11,2018-03-13,Tuesday,03/13/2018 09:00:00 PM,-97.738247,30.266782,SRU4,Refusal,NaN,0,1,0,1,0,0,"(30.266782, -97.738247)",NaN,30.266782,-97.738247
9,12,2018-03-13,Tuesday,03/14/2018 12:00:00 AM,-97.738289,30.260114,"CCP2, DM07s, DM08s, SRU4",Dell Seton Med Ctr,C1-CHAR C1,1,0,0,1,1,1,"(30.260114, -97.738289)",NaN,30.260114,-97.738289
10,13,2018-03-13,Tuesday,03/14/2018 12:00:00 AM,-97.738289,30.260114,"CCP1, SRU5",Refusal,NaN,0,1,0,1,1,0,"(30.260114, -97.738289)",NaN,30.260114,-97.738289
11,17,2018-03-13,Tuesday,03/14/2018 12:00:00 AM,-97.738607,30.268927,"M03, MTRC6",Refusal,NaN,0,1,0,1,0,0,"(30.268927, -97.738607)",NaN,30.268927,-97.738607
12,14,2018-03-13,Tuesday,03/14/2018 02:00:00 AM,-97.739335,30.267068,SRU3,No Patient,NaN,0,0,0,0,0,0,"(30.267068, -97.739335)",NaN,30.267068,-97.739335
13,15,2018-03-13,Tuesday,03/14/2018 02:00:00 AM,-97.741343,30.267653,"MTRC6, SRU5",No Patient,NaN,0,0,0,0,0,0,"(30.267653, -97.741343)",NaN,30.267653,-97.741343
14,18,2018-03-14,Wednesday,03/14/2018 03:00:00 PM,-97.743207,30.263030,"MTRC6, SRU1, SRU3",No Patient,NaN,0,0,0,0,0,0,"(30.26303, -97.743207)",NaN,30.263030,-97.743207
15,19,2018-03-14,Wednesday,03/14/2018 04:00:00 PM,-97.743171,30.267119,CCP3,Refusal,NaN,0,1,0,1,0,0,"(30.267119, -97.743171)",NaN,30.267119,-97.743171
16,20,2018-03-14,Wednesday,03/14/2018 04:00:00 PM,-97.739335,30.267068,"SRU4, SRU5",No Patient,NaN,0,0,0,0,0,0,"(30.267068, -97.739335)",NaN,30.267068,-97.739335
17,21,2018-03-14,Wednesday,03/14/2018 05:00:00 PM,-97.735784,30.266092,"CCP1, DM07s, SRU1, SRU5",Dell Seton Med Ctr,B1-BRAVO,1,0,0,1,1,1,"(30.266092, -97.735784)",NaN,30.266092,-97.735784
18,22,2018-03-14,Wednesday,03/14/2018 05:00:00 PM,-97.737187,30.266475,"SRU3, SRU4",No Patient,NaN,0,0,0,0,0,0,"(30.266475, -97.737187)",NaN,30.266475,-97.737187
19,23,2018-03-14,Wednesday,03/14/2018 08:00:00 PM,-97.737841,30.264626,"CCP3, SRU1, SRU4",Refusal,NaN,0,1,0,1,1,0,"(30.264626, -97.737841)",NaN,30.264626,-97.737841
20,24,2018-03-14,Wednesday,03/14/2018 08:00:00 PM,-97.743171,30.267119,CCP2,Refusal,NaN,0,1,0,1,0,0,"(30.267119, -97.743171)",NaN,30.267119,-97.743171
21,25,2018-03-14,Wednesday,03/14/2018 08:00:00 PM,-97.738237,30.260250,"CCP1, DM08s, MTRC5, SRU1",Dell Seton Med Ctr,B1-BRAVO,1,0,0,1,1,1,"(30.26025, -97.738237)",NaN,30.260250,-97.738237
22,26,2018-03-14,Wednesday,03/14/2018 11:00:00 PM,-97.738237,30.260250,SRU5,Call Cancelled,NaN,0,0,0,0,0,0,"(30.26025, -97.738237)",NaN,30.260250,-97.738237
23,27,2018-03-14,Wednesday,03/14/2018 11:00:00 PM,-97.740718,30.263334,"CCP3, DM01, DM08s, MTRC6, SRU4, SRU5",South Austin Hospital,C1-CHAR C1,1,0,0,1,1,1,"(30.263334, -97.740718)",NaN,30.263334,-97.740718
24,28,2018-03-14,Wednesday,03/15/2018 12:00:00 AM,-97.739335,30.267068,"CCP2, SRU1, SRU3",Refusal,NaN,0,1,0,1,1,0,"(30.267068, -97.739335)",NaN,30.267068,-97.739335
25,29,2018-03-14,Wednesday,03/15/2018 12:00:00 AM,-97.744567,30.263382,"CCP1, DM08s, MTRC6, SRU1",Refusal,NaN,0,1,0,1,1,0,"(30.263382, -97.744567)",NaN,30.263382,-97.744567
26,56,2018-03-16,Friday,03/16/2018 04:00:00 PM,-97.738589,30.265843,SRU5,No Patient,NaN,0,0,0,0,0,0,"(30.265843, -97.738589)",NaN,30.265843,-97.738589
27,30,2018-03-14,Wednesday,03/15/2018 12:00:00 AM,-97.737187,30.266475,"CCP3, DM08s, SRU5",South Austin Hospital,C1-CHAR C1,1,0,0,1,1,1,"(30.266475, -97.737187)",NaN,30.266475,-97.737187
28,31,2018-03-14,Wednesday,03/15/2018 01:00:00 AM,-97.736469,30.265236,SRU5,No Patient,NaN,0,0,0,0,0,0,"(30.265236, -97.736469)",NaN,30.265236,-97.736469
29,32,2018-03-14,Wednesday,03/15/2018 02:00:00 AM,-97.742743,30.272175,"DMO03, M06, MTRC5",Refusal,NaN,0,1,0,1,0,0,"(30.272175, -97.742743)",NaN,30.272175,-97.742743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,115,2018-03-17,Saturday,03/17/2018 08:00:00 PM,-97.744527,30.267327,"M06, MTRC6",Refusal,NaN,0,1,0,1,0,0,"(30.267327, -97.744527)",NaN,30.267327,-97.744527
112,116,2018-03-17,Saturday,03/17/2018 08:00:00 PM,-97.738939,30.264940,SRU3,No Patient,NaN,0,0,0,0,0,0,"(30.26494, -97.738939)",NaN,30.264940,-97.738939
113,117,2018-03-17,Saturday,03/17/2018 08:00:00 PM,-97.736488,30.268323,"CCP2, DM07s, MTRC5, SRU1",Dell Seton Med Ctr,B1-BRAVO,1,0,0,1,1,1,"(30.268323, -97.736488)",NaN,30.268323,-97.736488
114,118,2018-03-17,Saturday,03/17/2018 09:00:00 PM,-97.743171,30.267119,CCP3,No Patient,NaN,0,0,0,0,0,0,"(30.267119, -97.743171)",NaN,30.267119,-97.743171
115,119,2018-03-17,Saturday,03/17/2018 09:00:00 PM,-97.740375,30.267395,SRU1,Refusal,NaN,0,0,0,0,0,0,"(30.267395, -97.740375)",NaN,30.267395,-97.740375
116,120,2018-03-17,Saturday,03/17/2018 09:00:00 PM,-97.740278,30.267365,"CCP2, MTRC5, SRU3",Refusal,NaN,0,1,0,1,1,0,"(30.267365, -97.740278)",NaN,30.267365,-97.740278
117,121,2018-03-17,Saturday,03/17/2018 10:00:00 PM,-97.743171,30.267119,CCP1,Refusal,NaN,0,1,0,1,0,0,"(30.267119, -97.743171)",NaN,30.267119,-97.743171
118,122,2018-03-17,Saturday,03/17/2018 10:00:00 PM,-97.742150,30.265836,"CCP3, DM08s, MTRC5, SRU3",Dell Seton Med Ctr,B1-BRAVO,1,0,0,1,1,1,"(30.265836, -97.74215)",NaN,30.265836,-97.742150
119,123,2018-03-17,Saturday,03/17/2018 10:00:00 PM,-97.741332,30.267650,SRU2,No Patient,NaN,0,0,0,0,0,0,"(30.26765, -97.741332)",NaN,30.267650,-97.741332
120,124,2018-03-17,Saturday,03/17/2018 11:00:00 PM,-97.736127,30.266176,"SRU3, SRU4",Refusal,NaN,0,0,0,0,0,0,"(30.266176, -97.736127)",NaN,30.266176,-97.736127
121,125,2018-03-17,Saturday,03/17/2018 11:00:00 PM,-97.745398,30.266739,"CCP1, MTRC5, SRU2",No Patient / Refusal,NaN,0,1,0,1,1,0,"(30.266739, -97.745398)",NaN,30.266739,-97.745398
122,126,2018-03-17,Saturday,03/18/2018 12:00:00 AM,-97.738589,30.265843,"CCP2, DM07s, SRU3",Dell Seton Med Ctr,C1-CHAR C1,1,0,0,1,1,1,"(30.265843, -97.738589)",NaN,30.265843,-97.738589
123,127,2018-03-17,Saturday,03/18/2018 12:00:00 AM,-97.740734,30.266437,"CCP3, MTRC5, SRU2",Refusal,NaN,0,1,0,1,1,0,"(30.266437, -97.740734)",NaN,30.266437,-97.740734
124,128,2018-03-17,Saturday,03/18/2018 12:00:00 AM,-97.740375,30.267395,MTRC6,No Patient,NaN,0,0,0,0,0,0,"(30.267395, -97.740375)",NaN,30.267395,-97.740375
125,129,2018-03-17,Saturday,03/18/2018 12:00:00 AM,-97.740193,30.267338,MTRC5,No Patient,NaN,0,0,0,0,0,0,"(30.267338, -97.740193)",NaN,30.267338,-97.740193
126,130,2018-03-17,Saturday,03/18/2018 12:00:00 AM,-97.738247,30.266782,"MTRC5, SRU1",Refusal,NaN,0,0,0,0,0,0,"(30.266782, -97.738247)",NaN,30.266782,-97.738247
127,131,2018-03-17,Saturday,03/18/2018 12:00:00 AM,-97.738247,30.266782,SRU1,Refusal,NaN,0,0,0,0,0,0,"(30.266782, -97.738247)",NaN,30.266782,-97.738247
128,132,2018-03-17,Saturday,03/18/2018 01:00:00 AM,-97.741210,30.267618,SRU2,No Patient,NaN,0,0,0,0,0,0,"(30.267618, -97.74121)",NaN,30.267618,-97.741210
129,133,2018-03-17,Saturday,03/18/2018 01:00:00 AM,-97.738236,30.266779,"CCP1, SRU1",Refusal,NaN,0,1,0,1,1,0,"(30.266779, -97.738236)",NaN,30.266779,-97.738236
130,134,2018-03-17,Saturday,03/18/2018 01:00:00 AM,-97.739258,30.267048,SRU4,Referred Law Enforcement,NaN,0,0,0,0,0,0,"(30.267048, -97.739258)",NaN,30.267048,-97.739258
131,135,2018-03-17,Saturday,03/18/2018 01:00:00 AM,-97.743557,30.267226,"M04, MTRC5, SRU2",No Patient,NaN,0,0,0,0,0,0,"(30.267226, -97.743557)",NaN,30.267226,-97.743557
132,136,2018-03-17,Saturday,03/18/2018 01:00:00 AM,-97.739258,30.267048,"CCP2, DM08s, SRU4",Dell Seton Med Ctr,B1-BRAVO,1,0,0,1,1,1,"(30.267048, -97.739258)",NaN,30.267048,-97.739258
133,137,2018-03-17,Saturday,03/18/2018 01:00:00 AM,-97.741454,30.267683,"CCP3, DM08s, SRU1",Dell Seton Med Ctr,C1-CHAR C1,1,0,0,1,1,1,"(30.267683, -97.741454)",NaN,30.267683,-97.741454
134,138,2018-03-17,Saturday,03/18/2018 01:00:00 AM,-97.739335,30.267068,"CCP1, DM07s, SRU3",Dell Seton Med Ctr,C1-CHAR C1,1,0,0,1,1,1,"(30.267068, -97.739335)",NaN,30.267068,-97.739335
135,139,2018-03-17,Saturday,03/18/2018 01:00:00 AM,-97.739335,30.267068,"CCP2, CCP3, DM07s, SRU3",Dell Seton Med Ctr,C1-CHAR C1,0,0,0,0,1,1,"(30.267068, -97.739335)",NaN,30.267068,-97.739335
136,140,2018-03-17,Saturday,03/18/2018 02:00:00 AM,-97.740375,30.267395,"CCP3, DM08s, SRU2",Dell Seton Med Ctr,C1-CHAR C1,1,0,0,1,1,1,"(30.267395, -97.740375)",NaN,30.267395,-97.740375
137,141,2018-03-17,Saturday,03/18/2018 02:00:00 AM,-97.743171,30.267119,"CCP3, SRU1",Refusal,NaN,0,1,0,1,1,0,"(30.267119, -97.743171)",NaN,30.267119,-97.743171
138,142,2018-03-17,Saturday,03/18/2018 02:00:00 AM,-97.743171,30.267119,"CCP1, DM08s",No Patient,NaN,0,0,0,0,0,0,"(30.267119, -97.743171)",NaN,30.267119,-97.743171
139,143,2018-03-17,Saturday,03/18/2018 02:00:00 AM,-97.743171,30.267119,SRU4,No Patient,NaN,0,0,0,0,0,0,"(30.267119, -97.743171)",NaN,30.267119,-97.743171
140,144,2018-03-17,Saturday,03/18/2018 02:00:00 AM,-97.736817,30.267403,"CCP2, DM07s, SRU3",Dell Seton Med Ctr,C1-CHAR C1,1,0,0,1,1,1,"(30.267403, -97.736817)",NaN,30.267403,-97.736817

In [9]:
week_lookup = {
    0 : 'Mon',
    1 : 'Tue',
    2 : 'Wed',
    3 : 'Thurs',
    4 : 'Fri',
    5 : 'Sat',
    6 : 'Sun'
}

In [11]:
# mon = 0, sun = 6
ems.groupby(ems['Event Date'].dt.dayofweek.apply(lambda x: week_lookup[x])).size()

Event Date
Fri      45
Sat      48
Thurs    19
Tue      14
Wed      15
dtype: int64

In [ ]:
plt.subplots()

In [35]:
ems['lat'] = ems['Incident Location'].apply(lambda x: float(re.findall(r'-?\d+.\d+', x)[0]))
ems['lon'] = ems['Incident Location'].apply(lambda x: float(re.findall(r'-?\d+.\d+', x)[1]))

In [37]:
ems.head(1)

,Incident Key,Event Date,Event Day of Week,Incident Time,Location Longitude,Location Latitude,Responding Units,Dispositions,Transport Priorities,Patient Transports,Patient Refusals,Other Patient Outcomes,Total Patients,Patients Transported to CCP,Patients Transported From CPP,Incident Location,Current,lat,lon
0,1,2018-03-13,Tuesday,03/13/2018 03:00:00 PM,-97.739335,30.267068,SRU3,No Patient,NaN,0,0,0,0,0,0,"(30.267068, -97.739335)",NaN,30.267068,-97.739335

In [38]:
with open("./constants.json") as f:
    data = f.read()
    api_key = json.loads(data)['key']

gmaps.configure(api_key=api_key)
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(ems[['lat', 'lon']], weights=ems['Total Patients']))

In [39]:
fig

Figure(layout=FigureLayout(height='420px'))